<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
  default-autowire="byName">

	<!-- Searcher -->
	<bean id="itemSolrSearcher" class="com.ihome.matrix.search.ItemSolrSearcher">
		<property name="solrServerAdapter" ref="itemSolrServerAdapter" />
		<property name="categoryManager" ref="categoryManager" />
		<property name="shopManager" ref="shopManager" />
	</bean>
	<bean id="shopSolrSearcher" class="com.ihome.matrix.search.ShopSolrSearcher">
		<property name="solrServerAdapter" ref="shopSolrServerAdapter" />
	</bean>
	<bean id="productSolrSearcher" class="com.ihome.matrix.search.ProductSolrSearcher">
		<property name="solrServerAdapter" ref="productSolrServerAdapter" />
	</bean>
	
</beans>